.player {
	display: flex;
	align-items: center;
}

.player>* {
	width: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0;
}

.player button {
	background: none;
	border: none;
}

.player>div {
	display: flex;
	flex-direction: column;
}

.player>div svg {
	width: -moz-available;
	height: fit-content;
}
