.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Player > * {
  flex: 1;
  flex-shrink: 1;
}

.Player button {
    background: none;
    border: none;
    padding: 0;
}

.Player button > img {
    width: 100%;
}

.Hidden {
    width: 0%;
    transition: width 2s;
}

.Visible {
    transition: width 2s; 
}
